<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Storydots\VirtualGreeting\Api\QuoteRepositoryInterface" type="Storydots\VirtualGreeting\Controller\Checkout\UpdateQuote"/>
    <preference for="Storydots\VirtualGreeting\Api\OrderRepositoryInterface" type="Storydots\VirtualGreeting\Controller\Orders\UpdateOrder"/>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="storydots_virtual_greeting" xsi:type="string">sales_order.storydots_virtual_greeting</item>
            </argument>
        </arguments>
    </virtualType>
</config>