:root {
  --sd-background: white;
  --sd-border-color: #cccccc;
}

.sd-root {
  background: var(--sd-background);
}

.sd-header {
  padding: 0 15px;
  min-height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sd-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 4px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 20%);
}
.sd-header > p,
label {
  font-size: 12px;
}

.sd-header > input[type="checkbox"] {
  top: unset;
  margin: unset;
  margin-right: 4px;
  box-sizing: border-box;
  border: 2px solid var(--sd-border-color);
  border-radius: 4px;
  height: 20px;
  width: 20px;
  box-shadow: unset;
  cursor: pointer;
}
